.login {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 50px 300px 100px 100px; 
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left; 
    position: relative;
    
  }
  

  /* Testing */
  .input {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }


  /*!!!!!!!!!!!!!! affect the format in HOME page, need to be fixed!!!
  same code from App.css -> .App-header from Hamish, just to get the same colour scheme on the background
  may changed later if the colour scheme changes*/
  body {
    background: linear-gradient(to left bottom, #4117e5 14%, #0d0628);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    font-size: calc(10px + 2vmin);
    color: white;
    
  }

  .helper-text{
    font-size: 15px;
  }

  
  
  